  /* Two === */

.two{
    padding: 0;
    margin: 0 auto 0 auto;
}

.two_left{
    float: left;
    width: 48%;
    margin: 0 4% 0 0;
}

.two_right{
    float: left;
    width: 48%;
}

    /* Three - 111 === */

.three_111{
    padding: 0;
    margin: 0 auto;
}

.three_1_left{
    float: left;
    width: 31%;
    margin: 0 2% 0 0;
}

.three_1_right{
    float: left;
    width: 31%;
}

    /* Thre - 21 === */

.three_21 {
    padding: 0;
    margin: 0 auto;
}

.three_2_left {
    float: left;
    width: 60%;
    margin: 0 2% 0 0;
}
