/* Style === */

/* = General === */

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

/* = Header === */

.title {
    font-size: 250%;
}

/* == NavBar === */

/* = Main === */

/* = Footer === */
